#cloud-config

apt_update: true
packages:
#Condor
 - libssl0.9.8
 - libvirt0
 - libdate-manip-perl
#NFS
 - autofs
#Galaxy
 - gnuplot
 - liblist-moreutils-perl
 - libemail-valid-perl
 - libwww-mechanize-perl
 - libtie-ixhash-perl
 - libdbi-perl
 - libdbd-sqlite3-perl
 - openjdk-6-jre
 - python-markupsafe
 - python-numpy
 - python-psycopg2
 - r-base
 - ruby1.9.1
 - samtools
 - unzip
 - zip
#Useful tools
 - mc
runcmd:
 - [ umount, /mnt ]
 - [ mkdir, -p, /ephemeral/0 ]
# - [ mke2fs, /dev/xvdb ]
 - [ mount, /dev/xvdb, /ephemeral/0 ]
 - [ cp, -pr, /tmp, /ephemeral/0 ]
 - [ rm, -rf, /tmp ]
 - [ ln, -s, /ephemeral/0/tmp, /tmp ]
# Configure NFS and mount remote filesystems
 - [ mkdir, -p, /opt/galaxy ]
 - [ mkdir, -p, /mnt/galaxyTools ]
 - [ mkdir, -p, /mnt/galaxyIndices ]
 - [ mkdir, -p, /scratch ]
 - echo 'NEED_STATD=no\nNEED_IDMAPD=yes' > /etc/default/nfs-common
 - echo '/- /etc/auto.nfs' >> /etc/auto.master
 - echo '/opt/galaxy -fstype=nfs4 ${nfs_ipv4}:/opt/galaxy' >> /etc/auto.nfs
 - echo '/mnt/galaxyTools -fstype=nfs4 ${nfs_ipv4}:/mnt/galaxyTools' >> /etc/auto.nfs
 - echo '/mnt/galaxyIndices -fstype=nfs4 ${nfs_ipv4}:/mnt/galaxyIndices' >> /etc/auto.nfs
 - echo '/scratch -fstype=nfs4 ${nfs_ipv4}:/scratch' >> /etc/auto.nfs
 - echo '[General]' > /etc/idmapd.conf
 - echo 'Verbosity = 0' >> /etc/idmapd.conf
 - echo 'Pipefs-Directory = /run/rpc_pipefs' >> /etc/idmapd.conf
 - echo 'Domain = <%= @domainname %>' >> /etc/idmapd.conf
 - echo '[Mapping]' >> /etc/idmapd.conf
 - echo 'Nobody-User = nobody' >> /etc/idmapd.conf
 - echo 'Nobody-Group = nogroup' >> /etc/idmapd.conf
 - [ service, idmapd, restart ]
 - [ service, autofs, restart ]
# Increase both hard and soft on open files
 - echo '* - nofile 65000' >> /etc/security/limits.conf
# Add the galaxy user used to run all jobs
 - [ addgroup, --gid, 4000, galaxy ]
 - [ adduser, --uid, 4000, --ingroup, galaxy, --disabled-password, --gecos, '', galaxy ]
 - echo '${pubkey}' >> /home/ubuntu/.ssh/authorized_keys
# Configure  Condor
 - [ wget, 'http://research.cs.wisc.edu/htcondor/debian/stable/pool/contrib/c/condor/condor_8.2.2-265643_amd64.deb' ]
 - [ dpkg, -i, 'condor_8.2.2-265643_amd64.deb' ]
 - echo '${local_ipv4} ${public_hostname} ${hostname} headnode' >> /etc/hosts
 - [ mkdir, /ephemeral/0/condor ]
 - [ chown, 'condor:condor', /ephemeral/0/condor ]
 - echo 'CONDOR_HOST = ${public_hostname}' > /etc/condor/condor_config.local
 - echo 'UID_DOMAIN = <%= @domainname %>' >> /etc/condor/condor_config.local
 - echo 'FILESYSTEM_DOMAIN = <%= @domainname %>' >> /etc/condor/condor_config.local
 - echo 'COLLECTOR_NAME = DemoGrid Condor Pool' >> /etc/condor/condor_config.local
 - echo 'START = TRUE' >> /etc/condor/condor_config.local
 - echo 'SUSPEND = FALSE' >> /etc/condor/condor_config.local
 - echo 'PREEMPT = FALSE' >> /etc/condor/condor_config.local
 - echo 'KILL = FALSE' >> /etc/condor/condor_config.local
 - echo 'DAEMON_LIST = MASTER, STARTD' >> /etc/condor/condor_config.local
 - echo 'ALLOW_READ = *.compute-1.amazonaws.com, 10.*, 127.0.*' >> /etc/condor/condor_config.local
 - echo 'ALLOW_WRITE = *.compute-1.amazonaws.com, 10.*, 127.0.*' >> /etc/condor/condor_config.local
 - echo 'EXECUTE = /ephemeral/0/condor' >> /etc/condor/condor_config.local
 - echo 'SLOT_TYPE_1 = cpus=${num_cpus}' >> /etc/condor/condor_config.local
 - echo 'NUM_SLOTS_TYPE_1 = 1' >> /etc/condor/condor_config.local
 - echo 'SLOT_TYPE_1_PARTITIONABLE = true' >> /etc/condor/condor_config.local
 - echo 'ulimit -n 65000' > /tmp/restart_condor.sh
 - echo 'service condor restart' >> /tmp/restart_condor.sh
 - [ bash, /tmp/restart_condor.sh ]
# Configure self-termination
 - echo '#!/bin/bash' > /usr/local/bin/monitor_instance.sh
 - echo 't=/tmp/ec2_running_seconds' >> /usr/local/bin/monitor_instance.sh
 - echo 'if [[ ! -f \$t ]]; then' >> /usr/local/bin/monitor_instance.sh
 - echo '    if ! wget -q -O \$t http://169.254.169.254/latest/meta-data/local-ipv4; then' >> /usr/local/bin/monitor_instance.sh
 - echo '        /sbin/shutdown -h now' >> /usr/local/bin/monitor_instance.sh
 - echo '        exit 0' >> /usr/local/bin/monitor_instance.sh
 - echo '    fi' >> /usr/local/bin/monitor_instance.sh
 - echo 'fi' >> /usr/local/bin/monitor_instance.sh
 - echo 'let running_secs=\$((\`date +%s\`-\`date -r \$t +%s\`))' >> /usr/local/bin/monitor_instance.sh
 - echo 'let minutes_left=60-running_secs%3600/60' >> /usr/local/bin/monitor_instance.sh
 - echo 'if [[ \$minutes_left -gt 2 ]]; then' >> /usr/local/bin/monitor_instance.sh
 - echo '    exit 0' >> /usr/local/bin/monitor_instance.sh
 - echo 'fi' >> /usr/local/bin/monitor_instance.sh
 - echo 'hostname=\`ec2metadata --local-hostname\`' >> /usr/local/bin/monitor_instance.sh
 - echo 'claimed=\`condor_status -claimed -direct \$hostname\`' >> /usr/local/bin/monitor_instance.sh
 - echo 'if [[ -z "\$claimed" ]]; then' >> /usr/local/bin/monitor_instance.sh
 - echo '    /sbin/shutdown -h now' >> /usr/local/bin/monitor_instance.sh
 - echo 'fi' >> /usr/local/bin/monitor_instance.sh
 - [ chmod, 755, /usr/local/bin/monitor_instance.sh ]
 - echo '* * * * * root /usr/local/bin/monitor_instance.sh' > /etc/cron.d/monitor_instance
