CONDOR_HOST = <%= @server %>
UID_DOMAIN = <%= @domain %>
FILESYSTEM_DOMAIN = <%= @domain %>
COLLECTOR_NAME = Galaxy Condor Pool
START = GlobusOnline
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE
DAEMON_LIST = <%= @daemons %>
ALLOW_READ = *.<%= @domain %>, 127.0.*, *.ec2.internal, 10.*
ALLOW_WRITE = *.<%= @domain %>, 127.0.*, *.ec2.internal, 10.*
EXECUTE = /ephemeral/0/condor
NUM_CPUS=50
SLOT_TYPE_1 = cpus=50
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1_PARTITIONABLE = True
