#!/bin/bash

tag=$1

export AWS_ACCESS_KEY=<%=@aws_access_key%>
export AWS_SECRET_KEY=<%=@aws_secret_key%>

ec2_type='m2.4xlarge'
price='0.60'
ami='ami-23d9a94a'      # EBS boot
#ami=ami-d9d6a6b0       # instance-store
let num_cpus=8

#ec2_type='cr1.8xlarge'
#price='2.06'
#ami='ami-25d9a94c'
#let num_cpus=32

# Generate a cloud-init config file
cd /opt/scripts
if [[ cloudinit.cfg -ot cloudinit.cfg_template ]]; then
    local_ipv4=`curl -s http://169.254.169.254/latest/meta-data/local-ipv4`
#    nfs_ipv4='10.151.57.203'
    nfs_ipv4=${local_ipv4}
    public_hostname=`hostname --fqdn`
    pubkey=`cat /home/galaxy/.ssh/id_rsa.pub`
    eval "echo \"$(< cloudinit.cfg_template)\"" > cloudinit.cfg
fi

# Get number of cpus and nodes requested by jobs being in the idle state longer than 2 minutes (120 secs)
cpus=`condor_q -format "%s\n" RequestCpus -constraint "JobStatus == 1 && QDate < $(date +%s) - 120" | paste -sd+ | bc`
if [[ -z $cpus ]]; then
    exit 0
fi
let cpus=$cpus
echo "Headnode: ${tag}"
echo "Requested CPUs: $cpus"
let nodes=cpus/num_cpus
if [[ cpus%num_cpus -gt 0 ]]; then
    let ++nodes
fi
echo "Requested nodes: $nodes"

# Unclaimed nodes are a sum of three types of requests:
# 1) open spot requests,
# 2) active spot requests that correspond to pending instances,
# 3) active spot requests that correspond to running instances not claimed yet as condor nodes.
let unclaimed_nodes=`ec2dsir -F state=open -F tag:Headnode=${tag} | grep ^SPOTINSTANCEREQUEST | wc -l`
echo "Open spot requests: $unclaimed_nodes"
if [[ $nodes -le $unclaimed_nodes ]]; then
    exit 0
fi
active_spot_requests=`ec2dsir -F state=active -F tag:Headnode=${tag} | grep ^SPOTINSTANCEREQUEST | cut -f 12`
if [[ -n "$active_spot_requests" ]]; then
    let pending_instances=`ec2din -F instance-state-name=pending $active_spot_requests | grep ^INSTANCE | wc -l`
    echo "Pending instances: $pending_instances"
    let unclaimed_nodes+=pending_instances
    if [[ $nodes -le $unclaimed_nodes ]]; then
        exit 0
    fi
    running_instance_ip=`ec2din -F instance-state-name=running $active_spot_requests | grep ^INSTANCE | cut -f 5`
    for ip in $running_instance_ip; do
        claimed=`condor_status -claimed -direct $ip 2>/dev/null`
        if [[ -z "$claimed" ]]; then
            id=`ec2din | grep $ip | cut -f 2 2>/dev/null`
            date=`ec2din $id | grep ^INSTANCE | cut -f 11 2>/dev/null`
            echo "Unclaimed running instance: $id, $ip, launched $date"
            if [[ $((`date +%s` - `date --date="$date" +%s`)) -lt 1200 ]]; then
                let ++unclaimed_nodes
            else
                echo "Terminating the unclaimed running instance: $id, $ip, launched $date"
                ec2kill $id 2>/dev/null
            fi
        fi
    done
fi
let nodes=nodes-unclaimed_nodes

# Find the cheapest availability zone
current_time=`date -u +%Y-%m-%dT%T`
min_price=1000.0
zone='fake'
for z in `ec2daz | cut -f 2`; do
    new_price=`ec2dsph -F 'product-description=Linux/UNIX' -t ${ec2_type} -a $z -s ${current_time} | head -n 1 | cut -f 2`
    echo "Availability zone: $z, price: $new_price"
    if [[ `echo ${new_price}'<'${min_price} | bc -l` -eq 1 ]]; then
        min_price=${new_price}
        zone=$z
    fi
done

# Request spot instances in the cheapest availability zone
if [[ $nodes -gt 0 ]]; then
    echo "Spot instances being requested: $nodes"
    output=`ec2rsi -k galaxy -t ${ec2_type} -b /dev/sda1=:10 -b /dev/sdb=ephemeral0 -b /dev/sdc=ephemeral1 -b /dev/sdd=ephemeral2 -b /dev/sde=ephemeral3 -g globusgenomics -f cloudinit.cfg -p $price -z $zone -n $nodes $ami`
    echo "$output"
    sirs=`echo "$output" | grep ^SPOTINSTANCEREQUEST | cut -f 2`
    echo "$sirs"
    ec2addtag $sirs --tag "Headnode=${tag}"
fi
