upstream <%=@server%>_galaxy {
    server localhost:<%=@port%> fail_timeout=120s;
}

server {
    listen 80;
    server_name <%=@server%>.<%=@domain%>;
    return 301 https://$server_name$request_uri;
}

server {
    root /usr/share/nginx/www;
    index index.html index.htm;

    # Make site accessible from http://<%=@server%>.<%=@domain%>/
    server_name <%=@server%>.<%=@domain%>;
    listen 443;

    ssl on;
    ssl_certificate /etc/nginx/certs/globusgenomics.org.crt;
    ssl_certificate_key /etc/nginx/certs/globusgenomics.org.key;

    client_max_body_size 10G;

    location / {
        proxy_pass http://<%=@server%>_galaxy;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_read_timeout 120s;
    }

    location ^/display_application/[a-zA-Z0-9]+/igv.* {
        proxy_pass http://<%=@server%>_galaxy;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header REMOTE_USER igv_display@globusgenomics.org;
        proxy_read_timeout 120s;
    }

    location /_x_accel_redirect/ {
        internal;
        alias /;
    }

    location /static {
        alias /opt/galaxy/static;
    }

    location /static/style {
        alias /opt/galaxy/static/june_2007_style/blue;
    }

    location /static/scripts {
        alias /opt/galaxy/static/scripts/packed;
    }

    location /favicon.ico {
        alias /opt/galaxy/static/favicon.ico;
    }

    location /robots.txt {
        alias /opt/galaxy/static/robots.txt;
    }

    location /munin {
        alias /var/cache/munin/www;
    }

    location /monitor {
        root /opt;
        index index.php;
        auth_basic "Restricted";
        auth_basic_user_file .htpasswd;
#        try_files $uri =404;
    }

    location ~ \.php$ {
        root /opt;
        auth_basic "Restricted";
        auth_basic_user_file .htpasswd;
#        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        include fastcgi_params;
    }
}
