# globus-gridftp-server configuration file

# this is a comment

# option names beginning with '$' will be set as environment variables, e.g.
# $GLOBUS_ERROR_VERBOSE 1
# $GLOBUS_TCP_PORT_RANGE 50000,51000

$X509_USER_CERT /etc/grid-security/gc-cert.pem
$X509_USER_KEY /etc/grid-security/gc-key.pem

port 2811
port_range 50000,51000
restrict_paths RW/scratch,R/opt/galaxy/test-data/
data_interface <%= @public_ip %>
log_level ALL
log_single /var/log/gridftp.log
